@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
}

#container {
    display: flex;
    justify-content: center;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro p {
    margin-top: 0;
}

#favoritesWrapper {
    width: 50vw;
    padding-bottom: 100px;
    min-height: 100vh;
}

h1 {
    padding-top: 100px;
    z-index: 1;
    font-family: "Inter";
}

.favoriteBox {
    margin: 40px 0px 40px 0px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 4fr 6fr 1fr;
    border: 0.5px solid rgb(123, 123, 123);
    box-shadow: -10px 10px rgba(236, 101, 67, 0.7);
}

.imgWrap {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.drinkImg {
    height: 200px;
}

.heartImgFav {
    height: 50px;
    padding-top: 10px;
}

.tags {
    display: flex;
    gap: 20px;
}

.tags p {
    text-align: center;
    padding: 12px;
    border: 1px solid #ec6542;
    border-radius: 30px;
    font-family: 'Inter';
    font-weight: bold;
    color: #ec6442c1;
    font-size: 13px;
    flex-grow: 1;
}

.createAndSign {
    position: fixed;
    bottom: 300px;
    z-index: 40000;
}

.noDrinks {
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #ec6542;
    padding-top: 300px;
}

.clickHere {
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: #ec6542;
    padding-top: 10px;
}

.link {
    color: #ec6542;
    gap: 5px
}

.link:hover {
    color: black;
}

.text {
    font-family: "Inter";
}

.text h3 {
    font-size: xx-large;
    color: #ec6542;
    transition: 0.5s;
}

.text:hover h3 {
    color: #ec644295;
}