@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
}

.createContainer,
.welcomeContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 200px;
    z-index: 2000;
}

.create-popup {
    position: fixed;
    z-index: 10000;
    background-color: rgba(236, 101, 67, 0.9);
    border-radius: 50px;
    width: 40%;
}

.welcome-popup {
    padding: 80px;
    left: 0;
    width: 40%;
    background-color: rgba(236, 101, 67, 0.9);
    border-radius: 50px;
}

.welcomeContent {
    color: white;
    font-family: "Inter";
}

.closeButton,
.profileButton {
    background-color: rgb(230, 161, 144);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.9;
    font-family: "Inter";
}

.createContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.closeWelcome {
    position: fixed;
    right: 450px;
    bottom: 460px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: 20000;
}

.closeCreate {
    position: absolute;
    right: 20px;
    padding-top: 20px;
    width: 32px;
    height: 32px;
    z-index: 20000;
}

.closeCreate:hover {
    cursor: pointer;
    opacity: 0.3;
}

.closeCreate:before,
.closeCreate:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(251, 251, 251);
}

.closeCreate:before {
    transform: rotate(45deg);
}

.closeCreate:after {
    transform: rotate(-45deg);
}

.wrongInlogg {
    color: white;
}

.createH2 {
    font-family: "Inter";
    color: white;
}

.createLabelStyle {
    font-family: "Inter";
    color: white;
    padding: 10px;
}

.createInput {
    border: none;
    border-radius: 50px;
    padding: 5px;
}

.createAndSign {
    background-color: rgb(230, 161, 144);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

.createAndSign:hover {
    cursor: pointer;
    background-color: rgba(230, 161, 144, 0.5);
}

.wrongMessage {
    font-family: "Inter";
    color: white;
}