.createContainer,
.welcomeContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 200px;
    z-index: 2000;
}

.create-popup,
.welcome-popup {
    padding-top: 20px;
    padding-bottom: 60px;
    left: 0;
    width: 40%;
    background-color: rgba(236, 101, 67, 0.9);
    border-radius: 50px;
}

.createContent {
    margin: auto;
    padding: 40px;
    width: 30%;
}

.closeCreate .closeWelcome {
    position: fixed;
    right: 450px;
    bottom: 460px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: 20000;
}

.closeCreate:hover {
    cursor: pointer;
}

.closeCreate:hover {
    opacity: 1;
}

.closeCreate:before,
.closeCreate:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(251, 251, 251);
}

.closeCreate:before {
    transform: rotate(45deg);
}

.closeCreate:after {
    transform: rotate(-45deg);
}

.wrongInlogg {
    color: white;
}