@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'pFont';
    src: url('../fonts/TiemposHeadline-Regular.otf');
}

@font-face {
    font-family: 'BottledFontOutlined';
    src: url('../fonts/MinyaOutlineDemo-VGRjx.otf');
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'BottledFontOutlined';
    src: url('../fonts/MinyaOutlineDemo-VGRjx.otf');
}

#searchTitle {
    font-family: 'BottledFontOutlined';
    font-size: 70px;
    color: #ec6542;
    text-align: center;
    margin: 0;
}

#searchWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    margin-top: 150px;
    position: relative;
}

#backgroundDiv1 {
    background-image: url(../images/kdhaafafa.png);
    grid-area: 1 / 1 / span 2 / span 1;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 10%;
    position: relative;
    z-index: -1;
}

#backgroundDiv2 {
    background-image: url(../images/adasdao.png);
    grid-area: 1 / 2 / span 2 / span 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    opacity: 10%;
    position: relative;
    z-index: -1;
}

#backgroundDiv2 {
    background-image: url(../images/adasdao.png);
    grid-area: 1 / 2 / span 2 / span 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

#searchTitleDiv {
    grid-area: 1 / 1 / span 1/ span 2;
}

#container {
    display: flex;
    justify-content: center;
    grid-area: 3 / 1 / span 1/ span 2;
}

#wrapper {
    width: 50vw;
}

.drinkBox {
    margin: 40px 0px 40px 0px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 4fr 6fr 1fr;
    border: 1.5px #ec6542 solid;
    box-shadow: -10px 10px rgba(236, 101, 67, 0.7);
}

.drinkImg {
    height: 200px;
}

.imgWrap {
    height: 200px;
}

.searchContainer {
    grid-area: 2 / 1 / span 1/ span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#drinkName {
    width: 300px;
    height: 20px;
    border: 1px solid #ec6542;
    border-radius: 50px;
    padding: 5px 0 5px 15px;
    font-family: "Inter";
}

.alphabet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alphabetOne {
    display: flex;
    height: 60px;
    gap: 20px;
    justify-content: center;
}

.alphabetTwo {
    display: flex;
    height: 60px;
    gap: 20px;
    justify-content: center;
}

.alphabetThree {
    display: flex;
    height: 60px;
    gap: 20px;
    justify-content: center;
}

.alphabetOne p,
.alphabetTwo p,
.alphabetThree p {
    font-family: 'Inter';
    font-size: 30px;
}

.alphabetOne p:hover,
.alphabetTwo p:hover,
.alphabetThree p:hover {
    cursor: pointer;
    color: #ec6542;
}

.filterContainer {
    margin-right: 100px;
    margin-top: 50px;
    height: fit-content;
    width: 250px;
    position: relative;
    border: 1px #ec6542 dashed;
}

.filterH3 {
    margin-left: 20px;
    font-family: 'Inter';
    font-size: x-large;
    color: #ec6542;
}

#filterAlcohol,
#filterCategory,
#filterGlass,
#filterIngredient {
    padding: 10px;
}

.text {
    font-family: 'Inter';
}

#clearFiltersDiv {
    padding: 10px;
}

#clearFilters {
    margin-left: 15px;
    width: 100px;
    text-align: center;
    padding: 8px;
    border: 1px solid #ec6542;
    border-radius: 30px;
    font-family: 'Inter';
    font-weight: bold;
    background-color: white;
    color: #ec6442c1;
    font-size: 13px;
    transition: 0.3s;
}

#clearFilters:hover {
    color: #ec6442c1;
    background-color: #ec644238;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.text h3 {
    transition: 0.5s;
}

.text:hover {
    cursor: pointer;
}

.text:hover h3 {
    color: #ec644295;
}

.tags {
    display: flex;
    gap: 20px;
    width: 100%
}

.drinkBoxH3 {
    font-size: xx-large;
    color: #ec6542;
}

.tags p {
    text-align: center;
    padding: 12px;
    border: 1px solid #ec6542;
    border-radius: 30px;
    font-family: 'Inter';
    font-weight: bold;
    color: #ec6442c1;
    font-size: 13px;
    flex-grow: 1;
}

.signInFormByHeart {
    display: flex;
    justify-content: center;
}

.closeSignInHeart {
    position: absolute;
    right: 20px;
    padding-top: 20px;
    width: 32px;
    height: 32px;
    z-index: 20000;
}

.closeSignInHeart:hover {
    cursor: pointer;
}

.closeSignInHeart:hover {
    opacity: 0.3;
}

.closeSignInHeart:before,
.closeSignInHeart:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(255, 255, 255);
}

.closeSignInHeart:before {
    transform: rotate(45deg);
}

.closeSignInHeart:after {
    transform: rotate(-45deg);
}

.form-container-heart>h2 {
    color: white;
    padding-top: 40px;
}

label {
    color: white;
}

.notH2 {
    font-family: "Inter";
    color: white;
}

.createP {
    font-family: "pFont";
    color: white;
}

.inputByHeart {
    border: none;
    border-radius: 50px;
    padding: 5px;
}

.form-popup-heart {
    display: none;
    justify-content: center;
    position: fixed;
    top: 150px;
    z-index: 10000;
    background-color: rgba(236, 101, 67, 0.9);
    border-radius: 50px;
    width: 40%;
}

.form-container-heart {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-container-heart input[type='text'],
.form-container-heart input[type='password'] {
    width: 80%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #fffafa;
}

.form-container-heart .btn {
    background-color: rgb(230, 161, 144);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.9;
}

.form-container-heart .btn:hover,
.open-button:hover {
    opacity: 1;
}

.noDrinks {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: #ec6542;
}

select {
    background-color: rgba(236, 101, 67, 0.7);
    color: white;
    border: none;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 50px;
    width: 210px;
}

select:hover{
    cursor: pointer;
}

#toTop {
    display: none;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    transition: 0.5s;
}

.filledHeart {
    height: 50px;
    width: 50px;
    padding-top: 10px;
    background-image: url("../images/gillasvart.png");
    background-size: cover;
}

.filledHeart:hover {
    cursor: pointer;
}

.unfilledHeart {
    height: 50px;
    width: 50px;
    padding-top: 10px;
    background-image: url("../images/gilla.png");
    background-size: cover;
}

.unfilledHeart:hover {
    cursor: pointer;
}