@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
}

#searchWrapper {
    display: flex;
    justify-content: center;
}


/* TODO: Fix responsive, looks wierd on smaller screen */

#container {
    display: grid;
    grid-template-rows: 1fr min-content;
}

#topContainer {
    padding-top: 100px;
    grid-row: 1/1;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#wrapper {
    width: 50vw;
    padding: 50px 0 100px 0;
    grid-row: 2/2;
}

.drinkBox {
    width: 100%;
    overflow-x: clip;
    margin: 20px 0px 20px 0px;
    background-color: whitesmoke;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 4fr 6fr 1fr;
}

.imgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drinkImg {
    height: 200px;
}

.heartImg {
    height: 50px;
    padding-top: 10px;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alphabet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alphabetOne,
.alphabetThree {
    display: flex;
    width: 400px;
    height: 60px;
    grid-row: 2/2;
    gap: 7px;
    justify-content: center;
}

.alphabetTwo {
    display: flex;
    width: 400px;
    height: 60px;
    grid-row: 2/2;
    gap: 7px;
    justify-content: center;
}

.alphabetThree {
    display: flex;
    width: 400px;
    height: 60px;
    grid-row: 2/2;
    gap: 7px;
    justify-content: center;
}

.alphabetOne p,
.alphabetTwo p,
.alphabetThree p {
    font-size: 30px;
}

.filterContainer {
    padding-top: 380px;
    width: 20vw;
    position: relative;
    right: 150px;
}

.text {
    font-family: 'Inter';
}

.tags {
    display: flex;
    gap: 20px;
}

h3 {
    font-size: xx-large;
    color: #EC6542;
}

.tags p {
    padding: 12px;
    border: 2px solid #EC6542;
    border-radius: 30px;
}